section {
  margin: 32px;
}
* {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
p {
  line-height: 28px;
}
a {
  text-decoration: none;
}
.transform {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 3px;
  opacity: 80%;
  text-decoration: underline;
}
em {
  color: gray;
}
h1 {
  word-spacing: 20px;
  text-transform: uppercase;
  text-align-last: center;
}
