.block { 
    height: 300px;
    width: 100vh;
  }
  body{
    display: flex;  
  }
  .block_red {
    background-color: red;
   
  }
  .block_green {
    background-color: green;
   
  }
  .block_blue {
    background-color: blue;
  
  }
  
  .block_black {
    background-color: black;
   
  }
  .block_yellow {
    background-color: yellow;
    
  }