.image {
  height: 200px;
  width: 200px;
  border: 1px dotted gray;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px;
}

.gallery {
  display: flex;
}
* {
  box-sizing: border-box;
}
