* {
  box-sizing: border-box;
}

.text {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted black;
  margin: 16px 16px 12px 16px;
  padding: 0px;
}
.tooltip {
  display: none;

  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
  margin: 16px 16px 16px 16px;
  margin-top: -40px;
}
div:hover .tooltip {
  display: inline-block;
}
