main {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: center;
}
.article {
  padding: 16px;
  margin: 8px;
  background-color: bisque;
  flex-basis: 300px;
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}
